
#error
{
	color:red;
}

body
{
	background-color: #343434;
    margin-left: 40%;
    color:white;
    margin-top: 10%;

}	


.t1
{
	font-size: 22px;
	margin-top: 10%;
}
input:focus
{/*
	background-color: black;
	color:white;*/
	border:solid 3px blue;
	width:250px;
}
select:focus
{
	border:solid 3px red;
width:250px;
}
.tbox
{
width:140px;
height:25px;
border:  solid 2px #CCCCCC;
}
select
{
	width:140px;
}

option
{
background-color: #343434;
color:white;

}


#navbar
{
	height:50px;background-color:#006677;
	margin-left:-67%;margin-top: -16.66%;width:169%;
	text-align: center;color: white;
}